.task-four {
  background-color: rgba(0, 0, 0, 0.85);
  height: 100vh;
  overflow-y: auto;
  color: rgba(255, 255, 255, 0.8);
  box-shadow: 12px 10px 12px 10px rgba(255, 255, 255, 0.8);
}
header {
  background-color: rgb(0, 0, 0, 0.8);
  position: sticky;
}
.cases-summary-general {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  overflow: auto;
  position: sticky;
}
.cases-summary {
  width: 100%;
}
.cases-summary div,
.cases-summary-2 div {
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(247, 236, 236);
  border-radius: 0px 0px 50px 0px;
  margin-right: 10px;
  margin-left: 10px;
}

.discharged {
  background-color: rgb(10, 117, 6);
}
.death {
  background-color: rgb(180, 8, 8);
}
.activecase {
  background-color: rgb(6, 6, 163);
}
.sample {
  background-color: rgb(73, 4, 138);
}
h3 {
  font-size: 28px;
}
h4 {
  font-size: 22px;
  font-weight: 600;
}
.cases-list {
  display: flex;
  justify-content: space-between;
}
.case {
  text-align: center;
}
.case p {
  font-size: 20px;
}
.case .case-h {
  font-size: 22px;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .cases-summary-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cases-summary-general {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media screen and (max-width: 600px) {
  .cases-summary div {
    padding-top: 3px;
    padding-bottom: 3px;
  }
  .cases-summary-general {
    display: grid;
    grid-template-columns: repeat(2, minmax(48%, 1fr));
  }
  .cases-list {
    flex-direction: column;
  }
  .case {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (max-width: 480px) {
  .cases-summary-general {
    display: grid;
    grid-template-columns: repeat(1, minmax(100%, 1fr));
  }
}
