*:root {
  box-sizing: border-box;
}
html,
body {
  padding: 0px;
  margin: 0px;
  height: 100%;
}
.container {
  width: 80%;
  margin: auto;
}
.container-fluid {
  width: 90%;
  margin: auto;
}
.text-center {
  text-align: center;
}
.justify-content-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.align-center {
  align-items: center;
}
.flex-start {
  align-items: flex-start;
}
.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.no-text-wrap {
  white-space: nowrap;
}
p {
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  p {
    font-size: 16px;
  }
}
